
@mixin center-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signin-container {
    font-family: 'Mulish', sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.65);
    letter-spacing: 0.15em;
    text-align: left;
  }

  .signin-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 50rem;
    padding: 1em;
    border-radius: 0.5em;
    // background-color: rgba(255, 255, 255, 1);
  }
  // .signin-fields {
  //   height:
  // }
  
  .general-field {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  
  .signin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signin-title {
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .signin-account:hover {
    text-decoration: underline;
  }
  
  .signin-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
  }
  
  .signin-button {
    @include center-alignment;
    
    .continue-button {
      padding: 0.70em;
      border-radius: 0.5em;
      width: 35%;
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(255, 255, 255, 1);
    }
  }
  
  .email-passwd {
    padding: 0em 1.5em;
  }
  
  .field-input {
    padding: 0.75em;
    margin: 0.5em 0em 0em 0em;
    border-radius: 0.5em;
  }

  .reset-pass-button {
    text-align: right;
  }
  
  .reset-pass-button:hover {
    text-decoration: underline;
  }

  
  @media (max-width: 768px) {

    .signin-container {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .signin-content {
        width: 100%;
    }
    .signin-button {
        width: 100%;
    }

    .field-input {
        padding: 0.65em;
        margin: 0.5em 0em 0em 0em;
        border-radius: 0.5em;
      }

  }

  @media (max-width: 430px) {
    .signin-content {
        height: 30rem;
  }

  }

  .SignIn-Container {
    // background-image: url("./SignUI.png");
    background-image: url('../../images/SignUI.png');
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

  }