@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$color: #000000;

@mixin font($color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Mulish', sans-serif;
}

