@mixin button-header-behavior {
    display: flex;
    justify-content: center;
}
@mixin button-behavior {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding: 0.75em;
  border-radius: 0.5em;
}

.signuppage {
  background-image: url("../../images/Background_Ui.png");
}
.field-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
}
@media (max-width: 768px) {
  .signuppage {
    height: 100vh;
  }

  .field {
    padding: 0.45em;
    font-family: 'Mulish', sans-serif;
  }

}

.signuppage-header, .payment-header{
  @include button-header-behavior;
}

.signuppage {
  background: rgba(0, 0, 0, 0.65);
  font-family: 'Mulish', sans-serif;
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  // width: 100%;
  padding: 1em 0em 1em 0em;
 
  .signuppage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup-form {
      width: 50%;
      @media (max-width: 768px) {
        width: 85%;
      }
      .signup-name-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }

      }
      .continue-button {
        @include button-header-behavior;
        @media (max-width: 768px) {
          width: 100%;
        }
        .signup-button {
          @include button-behavior;
          width: 30%;
        }
      }
    }
}
.choose-plan-container {
  padding: 2em;
  .choose-plan-header {
    @include button-header-behavior;
    flex-direction: column;
    align-items: center;
    .choose-plan-body {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .payment-fields {
      display: flex;
      justify-content: center;
      .payment-form {
          width: 50%;
          @media (max-width: 768px) {
            width: 85%;
          }
        .signup-name-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.5em;
          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
          }
        }
        .payment-button {
          @include button-header-behavior;
          .signup-button {
            @include button-behavior;
          }
        }
      }
    }
}
.field {
  // padding: 1em;
  border-radius: 0.5em;
}
@media (min-width: 768px) {
  .field {
    padding: 1em;
  }
}

.field-title {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
}
.container-title {
  font-size: 2em;
  font-family: 'Mulish', sans-serif;
}
.choose-plan-body {
  font-size: 1.75em;
  color: rgba(255, 255, 255, 1);
}
.click-login:hover  {
  text-decoration: underline;;
}

@media (max-width: 768px) {
  .signup-container {
    height: 50em;
  }
  .signup-container .signup-form {
    width: 100%;
  }
}

@media(max-width: 430px) {
  .signuppage {
    height: 100%;
  }
}

.SignUp-Container {
  // background-image: url("./SignUI.png");
  background-image: url('../../images/SignUI.png');
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;

}

.signuppage-content { 
  font-family: 'Mulish', sans-serif;
  letter-spacing: 2px;
}

.signuppage { 
  backdrop-filter: blur(6px);
}
