@mixin button-header-behavior {
    display: flex;
    justify-content: center;
}
@mixin button-behavior {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding: 0.75em;
  border-radius: 0.5em;
}
// .signuppage {
//   // display: flex;
//   // align-items: center;
// }

.field-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
}
.signuppage-header, .payment-header{
  @include button-header-behavior;
}
.signuppage {
  background: rgba(0, 0, 0, 0.65);
  font-family: 'Mulish', sans-serif;
}


.signup-container {
  display: flex;
  justify-content: center;
 
  .signuppage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup-form {
      width: 50%;
      @media (max-width: 768px) {
        width: 85%;
      }
      .signup-name-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }

      }
      .continue-button {
        @include button-header-behavior;
        .signup-button {
          @include button-behavior;
        }
      }
    }
}
.choose-plan-container {
  padding: 2em;
  .choose-plan-header {
    @include button-header-behavior;
    flex-direction: column;
    align-items: center;
    .choose-plan-body {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .payment-fields {
      display: flex;
      justify-content: center;
      .payment-form {
          width: 50%;
          @media (max-width: 768px) {
            width: 85%;
          }
        .signup-name-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.5em;
          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
          }
        }
        .payment-button {
          @include button-header-behavior;
          .signup-button {
            @include button-behavior;
          }
        }
      }
    }
}
.field {
  padding: 1em;
  border-radius: 0.5em;
}
.field-title {
  color: rgba(255, 255, 255, 1);
}
.container-title {
  font-size: 1.5625em;
}
.choose-plan-body {
  font-size: 1.75em;
  color: rgba(255, 255, 255, 1);
}
.click-login:hover  {
  text-decoration: underline;;
}