@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.fp-container {
    font-family: 'Mulish', sans-serif;

    .fp-title {
        font-size: 2em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .form-input {
        width: 65%;

        .email-title {
            font-size: 1.40em;
        }

        .email-input-container {
            width: 100%;

            .email-input {
                width: 100%;
            }
        }

        .fp-redirect-container {
            text-align: right;

            .fp-redirect {
                width: 100%;
            }
            .fp-redirect-text::hover {
                text-decoration: underline;
            }
        }

        .fp-button-container { 
            display: flex;
            justify-content: center;
            align-items: center;

            .fp-button {
                width: 30%;
            }
        }

    }
}

@media (max-width: 768px) {

.fp-container {

    .fp-title {
        font-size: 1.5em;
    }

    .form-input {
        width: 90%;
    }
}
}