@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
// top right bottom left
.navbar-total {
    position: fixed;
    // padding: 5px 0px 5px 0px;    
    font-family: 'Mulish', sans-serif;
}
.nav-title {
    font-size: 2em;
    letter-spacing: 2px;
}
@media (min-width: 768px) {
    
.hamburger {
    display: none;
}
}

@media (max-width:768px) {
    .hamburger {
        display: block;
        
    }
    .mobile-element-container {
        display: flex;
        flex-direction: column;
    }
    .nav-regular-menu {
        display: none;
    }
    // .nav-element-holder {
    //     display: flex;
    //     flex-direction: column;
    // }
    // .nav-element-holder {
    //     // display: flex;
    //     // flex-direction: column;
    //     display: none;
    // }
}
  