@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
// top right bottom left
.navbar-total {
    position: fixed;
    // padding: 5px 0px 5px 0px;    
    font-family: 'Mulish', sans-serif;
    letter-spacing: 2px;
}
.nav-title {
    font-size: 1.5em;
}
@media (min-width: 768px) {
    
    .nav-mobile-menu {
        display: none;
    }
}

@media (max-width:768px) {
    .hamburger {
        display: block;
        
    }
    .mobile-element-container {
        display: flex;
        flex-direction: column;
    }
    .nav-regular-menu {
        display: none;
    }
    .nav-hamburger-title-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }
    .navbar-total {
        display: flex;
        flex-direction: column;
    }
    .nav-title {
        font-size: 1em;
    }
    .nav-element-holder-mobile {
        padding: 12px;
    }
}
  